# Integration test configuration.
# Copy this file to `.env` and fill in your local values.

OWSEC_BASE_URL=
OW_RBAC_TLS_ROOT_CA=
OWSEC_INTERNAL_BASE_URL=
OWSEC_INTERNAL_NAME=
OWSEC_INTERNAL_API_KEY=
OWSEC_ROOT_EMAIL=
OWSEC_ROOT_PASSWORD=
OWSEC_CLEANUP_ALL_DATA=true
OWSEC_OUTPUT_CSV=
