# Integration test configuration.
# Copy this file to local_test.env and fill in the parameters.

OWSEC_BASE_URL=https://openwifi.wlan.local:16001
OW_RBAC_TLS_ROOT_CA=/home/ubuntu/openwifi-sdk/mango-cloud-deployment/docker-compose/certs/restapi-ca.pem
OWSEC_ROOT_EMAIL=tip@ucentral.com
OWSEC_ROOT_PASSWORD=
